PORT=5000
MONGO_URI=mongodb://kormalkovaekaterina_db_user:<db_password>@ac-omxszyi-shard-00-00.elidzfz.mongodb.net:27017,ac-omxszyi-shard-00-01.elidzfz.mongodb.net:27017,ac-omxszyi-shard-00-02.elidzfz.mongodb.net:27017/?replicaSet=atlas-14sak1-shard-0&ssl=true&authSource=admin
JWT_SECRET=change_me_to_a_random_string
DB_NAME=wishmap
